<div class="sidebar" id="divSideBar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Menu
            </li>
            
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.addemployee">
                    <i class="icon-briefcase"></i>
                    <span>Employee</span>
                    <span style="display:none;" class="badge badge-info">NEW</span>
                </a>
            </li>
        </ul>
    </nav>
</div>