<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    EMPLOYEE DETAILS
                </div>
                <div class="card-body">
                    <!--/.row-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="name">POSITION(s) APPLIED FOR</label>
                                    <input class="form-control" id="position" placeholder="ENTER THE POSITION" type="text">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ccnumber">DATE</label>
                                    <input class="form-control" id="date" placeholder="DD/MM/YYYY" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">NAME</label>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="LAST" type="text">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="FIRST" type="text">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="MIDDLE" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">ADDRESS</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="STREET" type="text">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="CITY/STATE/ZIP CODE" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">PREVIOUS ADDRESS</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="STREET" type="text">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="CITY/STATE/ZIP CODE" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">PHONE</label>
                                    <input class="form-control" id="" placeholder="07* ** *****" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="ccnumber">ALTERNATE/CELL</label>
                                    <input class="form-control" id="date" placeholder="07* ** *****" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Email</label>
                                    <input class="form-control" id="" placeholder="PLEASE ENTER EMAIL" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    AVAILABILITY
                </div>
                <div class="card-body">
                    <!--/.row-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="name">Date Available For Work</label>
                                    <input class="form-control" id="position"  type="text">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ccnumber">Salary Desired</label>
                                    <input class="form-control" id="date"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label">Availability (Check all that apply)</label>
                                    <div class="col-md-12 col-form-label">
                                      <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" id="inline-checkbox1" type="checkbox" value="option1">
                                        <label class="form-check-label" for="inline-checkbox1">FULL TIME</label>
                                      </div>
                                      <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" id="inline-checkbox2" type="checkbox" value="option2">
                                        <label class="form-check-label" for="inline-checkbox2">PART TIME</label>
                                      </div>
                                      <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                        <label class="form-check-label" for="inline-checkbox3">PER DIEM</label>
                                      </div>
                                      <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                        <label class="form-check-label" for="inline-checkbox3">OTHER</label>
                                      </div>
                                    </div>
                                    <div class="col-md-12 col-form-label">
                                        <div class="form-check form-check-inline mr-1">
                                          <input class="form-check-input" id="inline-checkbox1" type="checkbox" value="option1">
                                          <label class="form-check-label" for="inline-checkbox1">DAYS</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                          <input class="form-check-input" id="inline-checkbox2" type="checkbox" value="option2">
                                          <label class="form-check-label" for="inline-checkbox2">NIGHTS</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                          <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                          <label class="form-check-label" for="inline-checkbox3">WEEKENDS</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                          <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                          <label class="form-check-label" for="inline-checkbox3">HOLIDAYS</label>
                                        </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">Are you currently working?</label>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                                <label class="form-check-label" for="inline-checkbox3">YES</label>
                                              </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                                <label class="form-check-label" for="inline-checkbox3">NO</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">Are you at least 18 years of age</label>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                                <label class="form-check-label" for="inline-checkbox3">YES</label>
                                              </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                                <label class="form-check-label" for="inline-checkbox3">NO</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">Are you lawfully eligible to be employed in the United States? Proof of identity and/or eligibility
                                        status is required upon employment</label>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                                <label class="form-check-label" for="inline-checkbox3">YES</label>
                                              </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-checkbox3" type="checkbox" value="option3">
                                                <label class="form-check-label" for="inline-checkbox3">NO</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>